<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
        <ion-back-button default-href="/home" ></ion-back-button>
    </ion-buttons>
    <ion-title style="padding-left: 90px;">Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="register-container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Credenciales</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <form (ngSubmit)="login()">
          <ion-item>
            <ion-label position="floating">Correo</ion-label>
            <ion-input
              type="email"
              [(ngModel)]="email"
              name="email"
              required
            ></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input
              [type]="showPassword ? 'text' : 'password'"
              [(ngModel)]="password"
              name="password"
              required
            >
              <ion-icon
                class="ojo"
                slot="end"
                [name]="showPassword ? 'eye-off-outline' : 'eye-outline'"
                (click)="togglePasswordVisibility()"
                style="cursor: pointer;"
              ></ion-icon>
            </ion-input>
          </ion-item>

          <ion-button
            expand="block"
            type="submit"
            color="primary"
            [disabled]="isLoading"
          >
            <ion-spinner *ngIf="isLoading" name="lines-small"></ion-spinner>
            <span *ngIf="!isLoading">Iniciar </span>
          </ion-button>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
