<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Perfil</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button default-href="/menu"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
    
    <ion-card>
      <ion-card-header>
        <ion-card-title>Mis datos</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-item>
          <ion-label>Nombre:</ion-label>
          <ion-text>{{ user.name }}</ion-text>
        </ion-item>

        <ion-item>
          <ion-label>Apellido:</ion-label>
          <ion-text>{{ user.surname }}</ion-text>
        </ion-item>

        <ion-item>
          <ion-label>Correo:</ion-label>
          <ion-text>{{ user.email }}</ion-text>
        </ion-item>
        
        <ion-item>
          <ion-label>RUT:</ion-label>
          <ion-text>{{ user.rut }}</ion-text>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-button expand = "block">Editar</ion-button>

  </ion-content>
</ion-content>
