<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#" text="Volver"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="card">
    <ion-card-header>
      <ion-card-title>Inicio de Sesión</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form (ngSubmit)="login()" loginForm="ngForm">
        <ion-item>
          <ion-label position="floating">Correo</ion-label>
          <ion-input [(ngModel)]="email" name="email" type="email" required #emailInput="ngModel"></ion-input>
        </ion-item>
        <ion-note *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)" color="danger">
          <div *ngIf="emailInput.errors?.['required']">El correo es obligatorio.</div>
        </ion-note>

        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input [(ngModel)]="password" name="password" [type]="showPassword ? 'text' : 'password'" required #passwordInput="ngModel"></ion-input>
          <ion-icon
            [name]="showPassword ? 'eye-off' : 'eye'"
            slot="end"
            class="eye-icon"
            (click)="togglePasswordVisibility()">
          </ion-icon>
        </ion-item>

        <ion-note *ngIf="passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)" color="danger">
          La contraseña es obligatoria.
        </ion-note>
        
        <ion-button expand="block" type="submit" class="custom-button">Iniciar Sesión</ion-button>
      </form>

      <ion-item lines="none">
        <ion-router-link [routerLink]="'/recu-contra'">¿Olvidaste tu contraseña?</ion-router-link>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>