  <ion-content id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="end">
          <ion-menu-button class="burger"></ion-menu-button> 
        </ion-buttons>
      <ion-title class="title" style="text-align: center;">Bienvenido</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="conductor">
    <ion-button class="boton-conductor" style=" color: #fff; text-shadow: 
    0 0 5px #fff, 
    0 0 10px #fff, 
    0 0 15px #fff, " [routerLink]="['/conductor']">Conductor</ion-button>
  </div>

  <div class="pasajero">
    <ion-button class="boton-pasajero" [routerLink]="['/pasajero']">Pasajero</ion-button>
  </div>

  <div class="test-content">
    <ion-button class="test" expand="block" fill="clear" shape="round" [routerLink]="['/test']">
      404
    </ion-button>

    <ion-button class="test" expand="block" fill="clear" shape="round" [routerLink]="['/home']">
      Salir
    </ion-button>
  </div>

</ion-content>
