
<ion-menu contentId="main-content" class="custom-menu">
  <ion-list>
    <ion-item class="items" routerLink="/perfil">Perfil</ion-item>
    <ion-item class="items" routerLink="/home">Salir</ion-item>
  </ion-list>
</ion-menu>

  <ion-content id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button class="burger"></ion-menu-button> 
        </ion-buttons>
      <ion-title class="title">Bienvenido {{ userName }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="conductor">
    <ion-button class="boton-conductor" [routerLink]="['/conductor']">Conductor</ion-button>
  </div>

  <div class="pasajero">
    <ion-button class="boton-pasajero" [routerLink]="['/pasajero']">Pasajero</ion-button>
  </div>

  <div class="test-content">
    <ion-button class="test" expand="block" fill="clear" shape="round" [routerLink]="['/test']">
      Test
    </ion-button>
  </div>

</ion-content>
