ion-content {
  display: flex; 
  flex-direction: column; 
  justify-content: flex-end; 
  background-image: url('/assets/icon/dalomismo.gif'); 
  
  background-position-x: 0px; 
  background-position-y: 0px; 
  --background: linear-gradient(1deg, #b6c9ec6c, #2a529864);
  
}

ion-toolbar {
  background-image: url('/assets/icon/dalomismo.gif');
  --background: linear-gradient(1deg, #b6c9ec6c, #2a529864);
}

.burger {
  color: rgb(255, 255, 255);
}

.items {
  
  color: #ffffff;
  width: 100%;
}

.title {
  color: rgb(255, 255, 255);
}

.custom-menu {
  
}

.test {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  margin-top: 30px;
  width: 50%;
  --background: rgba(255, 255, 255, 0.129);

  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 650;
}

.test-content {
  margin-top: 350px;
  text-shadow: 0px 0px 20px #ffffff;
}

.boton-conductor {
  --background: rgba(255, 255, 255, 0.129);
  --background-activated: rgba(161, 134, 103, 0.24);
  --color: #ffffff; 
  height: 150px;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;  
  margin-right: auto; 
  margin-top: 30px;
  text-shadow: 0px 0px 20px #ffffff;
}

.boton-pasajero {
  --background: rgba(255, 255, 255, 0.129);
  --background-activated: rgba(161, 134, 103, 0.24);
  --color: #ffffff;
  text-shadow: 0px 0px 20px #ffffff;
  height: 150px;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

ion-list{
    display: flex; 
    flex-direction: column; 
    justify-content: flex-end; 
    background-image: url('/assets/icon/dalomismo.gif'); 
    
    background-position-x: 0px; 
    background-position-y: 0px; 
    --background: linear-gradient(1deg, #b6c9ec6c, #2a529864);
}

ion-item{
  display: flex; 
  flex-direction: column; 
  justify-content: flex-end; 
  background-image: url('/assets/icon/dalomismo.gif'); 
  
  background-position-x: 0px; 
  background-position-y: 0px; 
  --background: linear-gradient(1deg, #b6c9ec6c, #2a529864);
}


