ion-content {
    --background: rgba(213,187,151)
  }

ion-toolbar {
  --background: rgb(175, 143, 100)
}

.burger {
  color: rgb(255, 255, 255);
}

.items {
  --background: rgb(175, 143, 100);
  color: #ffffff;
  width: 100%;
}

.title {
  color: rgb(255, 255, 255);
}

.custom-menu {
  --background: rgb(175, 143, 100);
}

.test {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  margin-top: 30px;
  width: 50%;
  --background-activated: rgb(161, 134, 103); 
  --background: rgb(175, 143, 100);
  --background-focused: rgb(175, 143, 100);
  --background-hover: rgb(175, 143, 100);
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 650;
}

.test-content {
  margin-top: 350px;
}

.boton-conductor {
  --background: url('/assets/icon/cafe.png');
  --background-activated: rgba(161, 134, 103, 0.24);
  --color: #ffffff; 
  height: 150px;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;  
  margin-right: auto; 
  margin-top: 30px;
}

.boton-pasajero {
  --background: url('/assets/icon/cafe.png');
  --background-activated: rgba(161, 134, 103, 0.24);
  --color: #ffffff;
  height: 150px;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
