<ion-content>
  <ion-card class="custom-card">
    <ion-card-content>
      <ion-card-title class="card-title">Te llevo App</ion-card-title>
      <div class="button-container">
        <ion-button expand="block" [routerLink]="['/registro']">Registrarse</ion-button>
        <ion-button expand="block" [routerLink]="['/login']">Iniciar sesión</ion-button>
      </div>
    </ion-card-content>
  </ion-card>

  <div class="logo-container">
    <img #logoContainer src="assets/icon/autito.gif" alt="Logo" class="logo">
  </div>
</ion-content>

