ion-content {
  display: flex; 
  flex-direction: column; 
  justify-content: flex-end; 
  background-image: url('/assets/icon/dalomismo.gif'); 
  
  background-position-x: 0px; 
  background-position-y: 0px; 
  --background: linear-gradient(1deg, #b6c9ec6c, #2a529864);
  
}
.tellevo {
  text-align: center;
  height: 90px;
  width: 400px;
  margin-top: 200px;
  margin-left: auto;  
  margin-right: auto; 
  color: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 100px;
  font-weight: 790;
  text-shadow: 0 0 25px #ffffff; 

}

.parrafo {
  font-size: 5rem;
}
.celular {
  width: 100%;
  height: auto;
  margin-top: 30px;
  margin-bottom: 20px;
  transform: scale(1.5);
  
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  margin-left: auto;  
  margin-right: auto; 
  margin-top: 300px;
}

.custom-button {

 
  font-size: 15px;
  width: 300px;
  margin-bottom: 20px;
}
