ion-content {
  display: flex; 
  flex-direction: column; 
  justify-content: flex-end; 
  background-image: url('/assets/icon/mapa.jpg');
  background-size: cover; 
  background-position-x: 0px; 
  background-position-y: 0px; 
  background-repeat: no-repeat;
  --background: linear-gradient(180deg, rgba(221,211,179,0.4) 20%, rgba(213,187,151,1) 80%);
  
}
.tellevo {
  text-align: center;
  height: 90px;
  width: 400px;
  margin-top: 100px;
  margin-left: auto;  
  margin-right: auto; 
  color: #000000;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 100px;
  font-weight: 790;
  text-shadow: 0 0 25px rgb(175, 143, 100); 

}

.celular {
  width: 100%;
  height: auto;
  margin-top: 30px;
  margin-bottom: 20px;
  transform: scale(1.5);
  
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  margin-left: auto;  
  margin-right: auto; 
  margin-top: 0px;
}

.custom-button {
  --background-activated: rgb(161, 134, 103); 
  --background: rgb(175, 143, 100);
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  width: 300px;
  margin-bottom: 25px;
}
