<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#" text="Volver"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="card">
    <ion-card-header>
      <ion-card-title>Creemos una cuenta!</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form (ngSubmit)="registerUser()" #registerForm="ngForm">
        
        <ion-item>
          <ion-label position="floating" class="labels">Nombre</ion-label>
          <ion-input [(ngModel)]="name" name="name" type="text" required #nameInput="ngModel"></ion-input>
        </ion-item>
        <ion-note *ngIf="nameInput.invalid && (nameInput.dirty || nameInput.touched)" color="danger">
          El nombre es obligatorio.
        </ion-note>

        <ion-item>
          <ion-label position="floating" class="labels">Apellido</ion-label>
          <ion-input 
            [(ngModel)]="surname" 
            name="surname" 
            type="text" 
            required
            #surnameInput="ngModel"
          ></ion-input>
        </ion-item>
        <ion-note *ngIf="surnameInput.invalid && (surnameInput.dirty || surnameInput.touched)" color="danger">
          El apellido es obligatorio.
        </ion-note>

        <ion-item>
          <ion-label position="floating" class="labels">RUT</ion-label>
          <ion-input 
            [(ngModel)]="rut" 
            name="rut" 
            type="text" 
            required
            #rutInput="ngModel"
          ></ion-input>
        </ion-item>
        <ion-note *ngIf="rutInput.invalid && (rutInput.dirty || rutInput.touched)" color="danger">
          El RUT es obligatorio.
        </ion-note>
        
        <ion-item>
          <ion-label position="floating" class="labels">Correo</ion-label>
          <ion-input 
            [(ngModel)]="email" 
            name="email" 
            type="email" 
            required
            #emailInput="ngModel"
          ></ion-input>
        </ion-item>
        <ion-note *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)" color="danger">
          El correo es obligatorio y debe tener el formato correcto.
        </ion-note>

        <ion-item>
          <ion-label position="floating" class="labels">Contraseña</ion-label>
          <ion-input 
            [(ngModel)]="password" 
            name="password" 
            type="password" 
            required
            #passwordInput="ngModel"
          ></ion-input>
        </ion-item>
        <ion-note *ngIf="passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)" color="danger">
          La contraseña es obligatoria.
        </ion-note>

        <p class="requisitos-contraseña"> * La contraseña debe tener:</p>
        <p class="requisitos-contraseña">- Al menos 8 caracteres</p>
        <p class="requisitos-contraseña">- Al menos 1 número</p>
        <p class="requisitos-contraseña">- Al menos 1 mayúscula</p>
        <p class="requisitos-contraseña">- Al menos 2 símbolos</p>
               
        <ion-button expand="block" type="submit" class="custom-button">Registrar</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
